/******Fonts for site*********/


@font-face {
    font-family: 'OpenSans Bold';
    src: url('../fonts/open-sans/OpenSans-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'OpenSans Regular';
    src: url('../fonts/open-sans/OpenSans-Regular.ttf') format('truetype');
}
.container{
    max-width: 1220px;
    margin: 0 auto;
}
body{
    font-family: "OpenSans Regular",sans-serif;
}